<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name ="delaiAgentNav" default="5" />
  <arg name ="lienhttp" default="$(env COROT_BDD)" />
  <arg name ="nomrobot" default="$(env COROT_NOMROBOT)" />
  <arg name ="nomfactory" default="'Factory LINEACT Real'"/>

  <!-- Ecoute des commandes de bases du robot-->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"></include>

  <!-- Demarrage de WaffleAgent -->
  <node pkg="corot_waffle" name="WaffleAgent" type="WaffleAgent.py" args="$(arg lienhttp) $(arg nomrobot) $(arg nomfactory)" />
  
  <!-- Demarrage de la navigation -->
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch"></include>
  
  <!--Initialisation de la position -->
  <node pkg="corot_waffle" name="corotInitPoseWaffle" type="corotInitPoseWaffle.py" args="$(arg lienhttp) $(arg nomrobot) $(arg nomfactory)" />

</launch>
